
.color__list{
    width: 60%;
    margin: 40px auto;
}
.color__list>span{
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin: 6px;
}